In [2]:
import os
import pandas as pd

In [3]:
log_dir='logs'
os.makedirs(log_dir,exist_ok=True)

In [4]:
p='kjnsakjds123'
print('sting is ',p)

sting is  kjnsakjds123

In [5]:
import logging
formatter=logging.Formatter('%(asctime)s - %(name) -%(levelname) - %(message)s')

In [5]:
s='https://github.com/shaktimaan006/Data/blob/main/spam.csv'
s='https://github.com/shaktimaan006/Data/blob/main/spam.csv'
s='https://raw.githubusercontent.com/shaktimaan006/Data/refs/heads/main/spam.csv'
# s='/home/bonami-ctp/Documents/Mlops/mlops-pipeline/experiments/spam.csv'
df=pd.read_csv(s)
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]
print(x)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ÃŒ_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
5567        NaN
5568        NaN
5569        NaN
5570        NaN
5571        NaN

[5572 rows x 4 columns]

In [ ]:
train_data=load_data('./data/processed/train_tfidf.csv')
x_train=train_data.iloc[:,:-1].values
y_train=train_data.iloc[:,-1].values

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
5567    NaN
5568    NaN
5569    NaN
5570    NaN
5571    NaN
Name: Unnamed: 4, Length: 5572, dtype: object